
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Portfolio/v17/.wsuo
.vs/Portfolio/FileContentIndex/380c2596-fa89-4f47-b834-3b0a5fed3d90.vsidx
.vs/Portfolio/FileContentIndex/23287409-b8a0-4cdb-ad30-581e1a36dfa2.vsidx
.vs/Portfolio/FileContentIndex/1ba99cff-ede2-42b8-bb08-b2b51a6286a9.vsidx
.vs/Portfolio/FileContentIndex/0b3f1699-667f-4f13-a60c-24aa23cbac16.vsidx
